@media screen and (max-width: 1351px) {
    header {
        padding-top: 1em
    }

    header h1 {
        letter-spacing: 0px;
        font-size: 5vh;
    }

    header li {
        display: flex;
        padding: 0;
        font-size: 4vh;
        line-height: 85%;
        margin: 1em 0 1em 0;
    }

    main {
        text-align: center;
        margin: 0 10% 3em 10%;
    }

    .front_page_title {
        font-size: 24px;
    }

    .welcoming_text {
        font-size: 14px;
    }

    footer nav ul {
        line-height: 4vh;
    }

    footer li {
        display: inherit;
        margin: 1em 0 1em 0;
    }

    fieldset {
        min-width: auto;
    }

    legend {
        font-size: 39px;
    }

    img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
    video {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Nico*/

/*Gabriel*/

@media screen and (max-width: 1351px) {
    .front_page_title {
        font-size: xx-large;
    }

    .nav_menu_video_game {
        max-width: inherit;
    }

    .nav_menu_video_game ol {
        font-size: inherit;
    }

    .article_crash_83 {
        display: flex;
        flex-direction: column;
    }

    .figure_video_game_1 {
        max-width: inherit;
    }

    .figure_video_game_1 > img {
        max-width: 100%;
    }

    .text_align_video_game_1 {
        text-align: center;
    }

    .figure_video_game_2 {
        max-width: inherit;
    }

    .figure_video_game_2 > img {
        max-width: 100%;
    }

    .article_renaissance {
        display: flex;
        flex-direction: column;
    }

    .figure_video_game_3 {
        max-width: inherit;
    }

    .figure_video_game_3 > img {
        max-width: 100%;
    }

    .legend_of_zelda_div img {
        margin: auto;
        padding: 0;
        float: none;
    }

    .legend_of_zelda_div p {
        text-align: center;
    }

    .metroid_div p {
        text-align: center;
    }

    .metroid_div img {
        margin: auto;
        padding: 0;
        float: none;
    }

    .castlevania_div img {
        padding: 0;
    }

    .honorable_mention {
        padding: 0;
    }

    .game_list_end ul {
        flex-direction: column;
        padding: 0;
    }

    .game_list_end li {
        padding: 0;
    }

    .game_list_end img {
        max-width: 100%;
    }
}

/*Jean-Gab*/

@media screen and (max-width: 1351px) {
    .Bloc_2_images, .Bloc_3_images {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Mohamed*/