body {
    font-family: VT323, arial, helvetica, sans-serif;
    margin: 0;
    background-color: rebeccapurple;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    padding: 15px;
    background-color: gray;
    text-align: center;
    font-size: x-large;
} 

header nav ul li {
    margin: 0;
    text-align: center;
    list-style-type : none;
    color: black;
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    background-color: grey;
}

hr {
    margin: 0;
}

.contenue_body {
    margin: 0 20% 0 20%;
    padding: 10px;
}

footer {
    padding: 15px;
    background-color: brown;
    margin-top: auto;
}

footer nav ul li {
    margin: 0;
    text-align: center;
    list-style-type : none;
    color: black;
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    background-color: grey;
}

@font-face {
    font-family: "VT323";
    src: url(../CSS/police/VT323-Regular.ttf), format('truetype');
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

/*Nico*/

/*Gabriel/*

/*Jean-Gab*/

/*Mohamed*/