a {
    text-decoration:none;
    color: black;
}
nav ul li a {
    text-align: center;
    margin: auto;
    list-style-type : none; /* pour enlever les points de la liste Li */ 
}

header{
    text-align: center;
    font-size: xx-large;
    margin: 10px 10px 10px 10px;
    border: 5px 5px 5px 5px;
    font-style: url(police/VT323-Regular.ttf);
} 

.nav-accueil {
    display: flex;

}

/*Nico*/

/*Gabriel/*

/*Jean-Gab*/

/*Mohamed*/