body {
    margin: 0;
    background-color: aquamarine;
}

header {
    margin: 0;
    padding: 15px;
    background-color: gray;
    text-align: center;
    font-style: url(police/VT323-Regular.ttf);
    text-shadow: 1em;
    font-size: x-large;
    font-family: 'VT323-Regular';
} 

header nav ul li {
    margin: 0;
    text-align: center;
    list-style-type : none;
    color: black;
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    background-color: grey;
}

hr {
    margin: 0;
}

footer nav ul li {
    margin: auto;
    text-align: center;
    list-style-type : none;
    color: black;
    display: inline-block;
    width: 20%;
    border: 1px solid black;
    background-color: grey;
}

@font-face {
    font-family: "VT323";
    src: url(../CSS/police/VT323-Regular.ttf), format('truetype');
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

/*Nico*/

/*Gabriel/*

/*Jean-Gab*/

/*Mohamed*/